.text-share {
  margin-top: 10vw;
  text-align: center;
  font-family: "SF Mono", sans-serif;
  font-weight: 400;
  margin-right: 73%;
}
@media  (min-width: 1024px) {
  .text-share, .tags {
    font-size: 1.2vw;
    margin-left: 25%;
    margin-top: 2vw;
  }}