.text-share {
  margin-top: 0.8em;
  margin-bottom: 0.1em;
  text-align: center;
  font-family: "SF Mono", sans-serif;
  font-weight: 400;
  margin-right: 82%;
}

@media (min-width: 1024px) {
  .text-share {
    font-size: 1.5em;
    margin-left: 24.5em;
    margin-top: 2em;
    margin-bottom: 1em;
  }
}

@media (max-width: 768px) {
  .text-share {
    font-size: 4em;
    text-align: center;
  }
}
