.image-section {
  display: flex; 
  justify-content: center; 
}

.image-section img {
  margin: 5vw 0; 
  max-width: 100%; 
  height: auto; 
}

.line {
  display: flex; 
  justify-content: center;
}

.line img {
  width: 90%; 
  margin: 100 0%; 
}

@media (min-width: 1024px) {
  .image-section img {
      margin: 2vw 0; 
      width: 100%; 
  }

  .line img {
      width: 50%; 
      margin-left: -1%; 
  }
}
