.image-section {
  display: flex; 
  justify-content: center; 
}

.image-section img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
  }
@media  (min-width: 1024px) {
  .image-section img {
      width: 70%;
    }
}
