.text-section {
    margin-left: 5vw;
    margin-top: 4vw;
    width: 92%;
    font-size: 3.8vw;
    font-family: "New Medium";
    font-weight: 100;
  
  }
  .text-section h2 {
    margin: 2.5vw 0 1.5vw;
  }
@media  (min-width: 1024px){
    .text-section {
        font-size: 1.4vw;
         width: 50%;
       
      }
    }
