@font-face {
  font-family: "New Medium";
  src: url("../start-page/font/NewYorkLarge-Medium.woff2") format("woff2");
}
.text-section {
    margin-left: 24.8vw;
    margin-top: 4vw;
    width: 92%;
    font-size: 3.8vw;
    font-family: "New Medium";
  }

@media  (min-width: 1024px){
    .text-section {
        font-size: 1.4vw;
         width: 50%;
       
      }
    }