.all-blog-art {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 2vmax;
}

.all-articles-header {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
}

.all-articles-header {
  font-family: "New York Extra Large";
  font-size: 44px;
  font-weight: 700;
  line-height: 52.51px;
  text-align: center;
  margin: 5vh;
}

.block-img-blog {
  width: 100%;
  gap: 20px;
}
.block-img-blog .image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(50% - 10px);
  box-sizing: border-box;
}
.block-img-blog .image-container .image-blocks {
  /* height: 194px; */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
/* .block-img-blog .image-container .image-blocks__1 {
  background-image: url("../src/assets/images/all-articles1.png");
}
.block-img-blog .image-container .image-blocks__2 {
  background-image: url("../src/assets/images/all-articles4.png");
}
.block-img-blog .image-container .image-blocks__3 {
  background-image: url("../src/assets/images/all-articles6.png");
}
.block-img-blog .image-container .image-blocks__4 {
  background-image: url("../src/assets/images/all-articles3.png");
}
.block-img-blog .image-container .image-blocks__5 {
  background-image: url("../src/assets/images/all-articles7.png");
}
.block-img-blog .image-container .image-blocks__6 {
  background-image: url("../src/assets/images/all-articles8.png");
}
.block-img-blog .image-container .image-blocks__7 {
  background-image: url("../src/assets/images/all-articles2.png");
}
.block-img-blog .image-container .image-blocks__8 {
  background-image: url("../src/assets/images/all-articles5.png");
}
.block-img-blog .image-container .image-blocks__9 {
  background-image: url("../src/assets/images/all-articles12.png");
}
.block-img-blog .image-container .image-blocks__10 {
  background-image: url("../src/assets/images/all-articles10.png");
}
.block-img-blog .image-container .image-blocks__11 {
  background-image: url("../src/assets/images/all-articles9.png");
}
.block-img-blog .image-container .image-blocks__12 {
  background-image: url("../src/assets/images/all-articles11.png");
} */
.block-img-blog .image-container .image-block-txt {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  width: 100%;
  flex: 1;

  padding-bottom: 8vh;
}

@media (max-width: 1023px) {
  .image-blocks {
    padding: 0%;
    /* margin: 12px; */
  }
  .block-img-blog .image-container {
    width: 100%;
  }
  .block-img-blog .image-block-txt {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .block-img-blog {
    width: 640px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
    padding-bottom: 5vh;
  }
}

@media (max-width: 480px) {
  .block-img-blog {
    width: 320px;
    padding: 0.5lvb;
  }
}

.ImagesBlock {
  background-size: 100px;
}
