@import url("https://fonts.cdnfonts.com/css/sf-mono");
* {
  margin: 0px;
  padding: 0px;
}
@font-face {
  font-family: "NewYorkExtraLarge";
  src: url("../start-page/font/NewYorkExtraLarge-Semibold.woff2") format("woff2");
}
.intro {
    font-size: 4vw;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "NewYorkExtraLarge";
    font-weight: 700;
    line-height: 10vw;
    width: 60%;
    margin-left: 20%;
    padding-top: 3vw;
    
  }
  
  .grost {
    font-size: 3vw;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "SF Mono", sans-serif;
    font-weight: 300;
    margin-top: 3vw;
    margin-left: 21%;
    width: 60%;
  }
@media (min-width:1024px){
  .intro{
    font-size: 3vw;
    line-height: 3vw;
    width: 40%;
    margin-left: 30%;
  }
  .grost{
    font-size: 1.5vw;
  }
}