@import url("https://fonts.cdnfonts.com/css/sf-mono");
@font-face {
  font-family: "NewYorkExtraLarge";
  src: url("../start-page/font/NewYorkExtraLarge-Semibold.woff2") format("woff2");
}

.intro {
    font-size: 2.6em;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "NewYorkExtraLarge";
    font-weight: 700;
    line-height: 1.3em;
    width: 90%;
    margin-left: 5%;
    padding-top: 1.2em;
  }
  .grost {
    font-size: 1em;
    text-align: center;
    line-height: 1.7em;
    display: flex;
    justify-content: center;
    font-family: "SF Mono", sans-serif;
    font-weight: 300;
    margin-top: 1.2em;
    margin-left: 7%;
    width: 85%;
    margin-bottom: 1.9em;
  }
@media (min-width:1024px){
  .intro{
    font-size: 4em;
    line-height: 1em;
    width: 50%;
    margin-left: 7em;
    padding-top:1em;
  }
  .grost{
    width: 37%;
    font-size: 1.3em;
    margin-left:27em;
    margin-top: 2em;
    margin-bottom: 3em;
    line-height: 1.8em;
  }
}
