@import url("https://fonts.cdnfonts.com/css/sf-mono");
.profile-info {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  max-width: 100%;
  margin-left: 6vw;
}

.profile-info img {
  border-radius: 50%;
  width: 80px; 
  height: auto; 
  align-self: flex-start; 
  margin-top: 2vw;
}

.profile-info p {
  margin: 2.1vw 10px; 
  font-size: 3vw; 
  font-family: "SF Pro", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
@media (min-width: 1024px) {
  .profile-info {
    max-width: 70%;
  }  
  .profile-info img {
    width: 7vw;
    height: auto; 
    border-radius: 50%;
    margin-left: 30%; 
  }
  .profile-info p { 
    font-size: 1.1vw; 
    font-family: "SF Pro", sans-serif;
    font-weight: 400;
    line-height: 1.6;
   
  }
}
