@import url("https://fonts.cdnfonts.com/css/sf-mono");
@font-face {
  font-family: "New Medium";
  src: url("../start-page/font/NewYorkLarge-Medium.woff2") format("woff2");
}
.text-section {
  font-family: "New Medium";
  font-weight: 100;
  width: 90%;
}
.text-section p{
  margin-top: 4vw;
}
.text-section h2 { 
 padding-top: 8vw;
  font-weight: 700;
  font-size: 6vw;
}
.image-caption-section img {
  width: 100%; 
  margin-top: 5vw;
}
.image-caption-section p {
  text-align: center;
  font-size: 3vw;
  width: 80%;
  margin-bottom: 8vw;
  margin-top: 3vw;
  font-family: "SF Pro", sans-serif;
  font-weight: 400;
  margin-left: 10%;
}
@media  (min-width: 1024px){

    .image-caption-section img {
      width: 60%;
      margin-left: 19.1vw;
      display: flex;
      justify-content: center;
      margin-top: 2.6vw;
    }
    .image-caption-section p {
      font-size: 1vw;
      text-align: center;
      width: 28%;
      margin-left: 34vw;
      margin-top: 1vw;
      margin-bottom: 3vw;
      font-weight: 600;
    }
    .text-section {
      font-size: 4vw;
      width: 80%;
    }
    .text-section p{
      margin-top: 2vw;
    }
    .text-section h2 { 
     padding-top: 2vw;
      font-size: 1.8vw;
    }
}