@font-face {
  font-family: "NewYorkExtraLarge";
  src: url("font/NewYorkLarge-Black.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper-header {
  width: 100%;
  padding: 2rem 0;
}

.main-header-news {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-header-news img {
  width: 100%;
  max-width: 170%;
  height: auto;
}

.main-header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;
}

.main-header-text h2 {
  margin-bottom: 1rem;
  font-family: "Abel", serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.main-header-text p {
  font-family: sans-serif;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .main-header-text h2 {
      font-size: 2rem;
  }

  .main-header-text p {
      font-size: 1.25rem;
  }

}

@media screen and (min-width: 1024px) {
  .wrapper-header {
      padding: 4rem 0;
  }

  .main-header-news {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      padding-bottom: 2rem;
      padding-right: 16%;
  }

  .main-header-news img {
      width: 170%;
      height: auto;
  }

  .main-header-text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      padding: 2rem 32%;
  }

  .main-header-text h2 {
      margin-bottom: 1rem;
      font-family: "NewYorkExtraLarge";
      font-size: 2.5rem;
  }

  .main-header-text p {
      font-family: sans-serif;
      font-size: 1.5rem;
  }
}   