.tags {
    font-family: "SF Pro", sans-serif;
    font-weight: 400;
    padding-bottom: 4vw;
    padding-top: 4vw;
    font-size: 4vw;
    padding-left: 5.7vw;
    
  }
  @media (min-width: 1024px) {
    .tags {
        font-size: 1.1vw;
        margin-left: 19.3%;
        padding-top: 2vw;
        }
  }
  