@import url("https://fonts.cdnfonts.com/css/sf-mono");
.tags {
  font-family: "SF Pro", sans-serif;
  font-weight: 400;
  padding-bottom: 4vw;
  padding-top: 4vw;
  font-size: 4vw;
  padding-left: 5.7vw;
  
}

.underline {
  position: relative;  
}

.underline:after { 
  display: block; 
  width: 20%; 
  background-color: #000; 
  position: absolute; 
} 

.line6 img {
  max-width: 90%;
  display: flex;
  justify-content: center;
  margin-left: 5%;
}

@media (min-width: 1024px) {
   .tags {
    font-size: 1.1vw;
    margin-left: 19%;
    padding-top: 2vw;
    }
  .line6 img {
    width: 50%;
    display: flex;
    margin-top: -2vw;
    justify-content: center;
    margin-left: 25%;
  }}