.social-icons {
    display: flex;
    justify-content: center;
    padding: 0.5vw;
    background-color: #f7f7f7;
    border-radius: 5px;
    width: 90vw;

    
    .btn {
        background-color: #fff;
        color: #000000;
        border: none;
        padding: 1vw 4vw;
        transition: background-color 0.3s ease;
        width: 90vw;
        height:10vw;
        border-radius: 5px;
    
        &:hover {
            background-color: #e7e7e7;
        }
    }
}
@media  (min-width: 1024px){
    .social-icons {
        display: flex;
        justify-content: center;
        background-color: #f7f7f7;
        margin:2vw;
        border-radius: 5px;
        width: 50%;
        margin-left: 24vw;
       
    
          .btn {
            background-color: #000000;
            color:  #fff;
            border: none;
            transition: background-color 0.3s ease;
            width: 20vw;
            height: 4vw;
            border-radius: 5px;
            
        
            
          }
          &:hover {
            background-color: #e7e7e7;
        }
      }
     
}
    