.social-icons {
  display: flex;
  justify-content: center;
  padding: 0.1vw;
  background-color: #f7f7f7;
  border-radius: 5px;
  width: 88vw;
  margin-left: 6vw;
}
.social-icons .btn {
  background-color: rgb(255, 255, 255);
  color: #fff;
  border: none;
  padding: 1vw 12vw; 
  transition: background-color 0.3s ease;
  width: 50vw;
  height: 10vw;
  border-radius: 5px;
}
.social-icons .btn:hover {
  background-color: #e7e7e7;
}
/* .btn-txt{
  display: none;
} */
@media (min-width: 1024px) {
  .social-icons {
    width: 49vw;
    margin-left: 6vw;
    margin-left: 25vw;
  }
  .social-icons .btn {
    height: 2.7vw;
    border-radius: 5px;
    padding: 0.5vw 7vw; 
    
  }
  .social-icons .btn:hover {
    background-color: #e7e7e7;
  }
  /* .btn-txt{
    color: black;
    font-family: "SF Pro", sans-serif;
    display: inline;
  } */
}
