.social-icons {
  display: flex;
  justify-content: center;
  padding: 0.5vw;
  background-color: #f7f7f7;
  border-radius: 5px;
  width: 90%;
}
.social-icons .btn {
  background-color: rgb(255, 255, 255);
  color: #fff;
  border: none;
  padding: 1vw 15vw;
  transition: background-color 0.3s ease;
  width: 90%;
  height: 10vw;
  border-radius: 5px;
}
.social-icons .btn:hover {
  background-color: #e7e7e7;
}
@media  (min-width: 1024px){
 .social-icons{
  display: flex;
  justify-content: center;
  padding: 0.5vw;
  background-color: #f7f7f7;
  border-radius: 5px;
  width: 100%;


  
 }
 .social-icons .btn {
  width: 90%;
  padding: 1vw 15vw;
  height: 60px;
 }
}