@import url("https://fonts.cdnfonts.com/css/sf-mono");
* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "NewYorkExtraLarge";
  src: url("../start-page/font/NewYorkExtraLarge-Semibold.woff2") format("woff2");
}
@font-face {
  font-family: "NewYorkSmall";
  src: url("../start-page/font/NewYorkSmall-Black.woff2") format("woff2");
}
@font-face {
  font-family: "New Medium";
  src: url("../start-page/font/NewYorkLarge-Medium.woff2") format("woff2");
}
body {
  line-height: 1.6;
}

.main-header {
  border-bottom: 2px solid rgb(214, 214, 214);
  padding-bottom: 0px;
  padding-top: 15px;
}

.nav-panel {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

#dropdown-toggle {
  display: none;
}

.dropdown-image {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  right: 5%;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

#dropdown-toggle:checked ~ .dropbtn + .dropdown-content {
  display: block;
}

.image-section img {
  width: 100%;
  max-width: 100%;
  margin: 20px 0px;
}

.line img {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.intro {
  font-size: 5vw;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: "NewYorkExtraLarge";
  font-weight: 800;
  line-height: 1.5;
  margin-top: 50px;
}

.grost {
  font-size: 4vw;
  margin-left: 20px;
  margin-top: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: "SF Mono", sans-serif;
  font-weight: 400;
}

.author-info .author-details {
  display: flex;
  align-items: center;
  margin-top: 11px;
  margin-bottom: 20px;
  width: 300px;
  margin-right: 43%;
}
.author-info .author-details .mika {
  font-size: 3vw;
  font-family: "SF Mono", sans-serif;
  font-weight: 400;
}
.author-info .author-details .art {
  font-size: 2vw;
  font-family: "SF Mono", sans-serif;
  font-weight: 400;
}
.author-info .author-details img {
  display: flex;
  border-radius: 50%;
  width: 13vw;
  margin-right: 3%;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  background-color: #f7f7f7;
  border-radius: 5px;
  margin-top: 10px;
  width: 80%;
}
.social-icons .btn {
  background-color: rgb(255, 255, 255);
  color: #fff;
  border: none;
  padding: 4px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  height: 7vw;
  border-radius: 5px;
}
.social-icons .btn:hover {
  background-color: #e7e7e7;
}

.text-section {
  margin-top: 35px;
  margin-left: 26px;
  font-size: 3vw;
  font-family: "New Medium";
  font-weight: 335;
  width: 80vw;
}
.text-section h2 {
  margin-top: 20px;
  font-size: 4vw;
  margin-left: 12px;
}

.image-caption-section {
  margin-top: 20px;
}
.image-caption-section img {
  width: 90%;
  margin: 0 auto;
}
.image-caption-section p {
  font-size: 2vw;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: "SF Mono", sans-serif;
  font-weight: 400;
  width: 70%;
}

.text-share {
  margin-top: 20px;
  font-size: 2vw;
  margin-left: auto;
}

.tags {
  font-size: 2vw;
  margin-left: auto;
}

.line6 img {
  max-width: 80%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.profile-info {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.profile-info img {
  width: 15vw;
  height: auto;
  border-radius: 50%;
  margin-left: 10vw;
}
.profile-info p {
  margin-top: 20px;
  font-size: 2.5vw;
  line-height: 1.6;
  margin-left: 10px;
  font-family: "SF Mono", sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: "NordicRose";
  src: url(./font/NewYorkExtraLarge-Semibold.woff) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-family: "SFProMedium";
  src: url(./font/SFProDisplay-Medium.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SFProRegular";
  src: url(./font/SFProDisplay-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
.nr-section {
  background-color: black;
  color: white;
  padding: 20px;
  font-family: "NordicRose";
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
  font-family: "NordicRose", Arial, sans-serif;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

header {
  text-align: center;
  padding: 20px 0;
  border-bottom: 2px;
  position: relative;
}

.divider {
  height: 2px;
  background-color: black;
  margin: 20px 0;
  position: relative;
  width: 100%;
  max-width: 1500px;
}

.bold-divider {
  height: 10px;
  background-color: black;
  margin: 20px 0;
}

.eye-divider {
  position: relative;
  width: 100%;
  height: 1.5px;
  background-color: #000;
  margin: 20px 0;
}

.eyes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.eye {
  width: 24px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #000;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.eye:last-child {
  margin-left: -4px;
}
.eye:last-child .pupil {
  left: 35%;
}
.eye:first-child .pupil {
  left: 40%;
}

.pupil {
  width: 8px;
  height: 12px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  bottom: 3px;
}

h1 {
  font-size: 24px;
  margin: 0;
}

.article-preview {
  padding: 20px;
  border-bottom: 1px solid white;
}
.article-preview img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.article-preview h2 {
  font-family: "SFProMedium";
  font-size: 20px;
  margin: 20px 0 0 0;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 1.2;
  font-weight: 500;
}

.newsletter-container {
  max-width: 600px;
  margin: 20px auto;
  background-color: white;
}

.top-bar {
  height: 10px;
  background-color: black;
}

.newsletter {
  padding: 20px;
  text-align: center;
}
.newsletter h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.newsletter p {
  font-size: 16px;
  margin-bottom: 15px;
}
.newsletter form {
  display: flex;
}
.newsletter input[type=email] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #000000;
  font-size: 16px;
}
.newsletter button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

@media (min-width: 768px) {
  .newsletter-container {
    border: 1px solid #000;
  }
}
@media (min-width: 1024px) {
  .article-grid, .article-grid-second-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    margin-bottom: 2%;
  }
  .article-preview {
    display: flex;
    flex-direction: column;
  }
  .article-preview img {
    width: 100%;
    height: 20vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .article-preview h2 {
    font-size: 1rem;
    margin-top: 2%;
  }
}
@media (max-width: 768px) {
  .nr-header {
    font-size: 10px;
  }
  .nr-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }
  .nr-header-item {
    flex: 1;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
  }
  .nr-form {
    max-width: 300px;
    margin: 0 auto;
  }
  .nr-title {
    font-size: 24px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .nr-description {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-size: 12px;
  }
  .nr-social-links {
    margin-bottom: 20px;
  }
  .nr-social-link {
    color: white;
    text-decoration: none;
    margin: 0 5px;
    font-size: 14px;
    font-size: 12px;
  }
  .nr-copyright {
    font-size: 12px;
    margin-top: 20px;
    font-size: 10px;
  }
  .swipe-container {
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
  }
  .swipe-wrapper {
    display: flex;
    transition: transform 0.3s ease-out;
  }
  .swipe-slide {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .dropdown-content {
    display: block;
    display: flex;
    position: relative;
    box-shadow: none;
    background-color: white;
  }
  .dropdown-content a:hover {
    border-bottom: 2px solid black;
  }
  .dropdown-image {
    display: none;
  }
  body {
    line-height: 1.6;
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  .header .header-title {
    font-size: 30px;
  }
  .image-section img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vw 0;
    width: 100%;
  }
  .line img {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-left: 25%;
  }
  .intro {
    font-size: 2.5vw;
    text-align: center;
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
  }
  .grost {
    font-size: 2vw;
    margin-top: 20px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
  }
  .author-details {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
  }
  .author-details img {
    width: 2vw;
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
  }
  .author-details .mika, .author-details .art {
    font-size: 1.3vw;
    text-align: left;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    width: 43%;
    margin-left: 28%;
    padding: 2px;
  }
  .social-icons .btn {
    width: 15vw;
    height: 5vh;
    font-size: 1.2vw;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-section {
    font-size: 1.5vw;
    width: 50%;
    margin-left: 25%;
    text-align: left;
  }
  h2 {
    font-size: 1vw;
    margin-top: 20px;
    text-align: left;
    margin-left: 10%;
  }
  .image-caption-section img {
    width: 70%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
  }
  .image-caption-section p {
    font-size: 1.2vw;
    width: 65%;
    margin-left: 10%;
    text-align: center;
  }
  .image-caption-section p img {
    display: flex;
    justify-content: center;
    margin-left: 50%;
  }
  .text-share, .tags {
    font-size: 1.2vw;
    margin-left: 25%;
    text-align: left;
  }
  .line6 img {
    width: 51%;
    margin-left: 25%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .profile-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 10%;
  }
  .profile-info img {
    width: 7vw;
    height: auto;
    border-radius: 50%;
    margin-left: 16%;
    margin-top: 2%;
  }
  .profile-info p {
    font-size: 1.2vw;
    line-height: 1.6;
    margin-left: 1%;
    text-align: left;
  }
}/*# sourceMappingURL=style-second-page.css.map */