* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'NewYorkExtraLarge';
    src: url('./font/NewYorkExtraLarge-Semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'NewYorkSmall';
    src: url('./font/NewYorkSmall-Black.woff2') format('woff2');
}

// h1 {
//     font-family: 'NewYorkExtraLarge', sans-serif;
// }