@font-face {
  font-family: "NewYorkExtraLarge";
  src: url("./font/NewYorkLarge-Black.woff2") format("woff2");
}
@font-face {
  font-family: "NewYorkSmall";
  src: url("./font/NewYorkSmall-Black.woff2") format("woff2");
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.nav-panel {
  margin: 20px;
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

#dropdown-toggle {
  display: none;
}

.dropdown-image {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  right: 5%;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

#dropdown-toggle:checked ~ .dropbtn + .dropdown-content {
  display: block;
}

.main-header-news {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid rgb(214, 214, 214);
  width: 100%;
  padding-top: 5%;
  padding-bottom: 3%;
}
.main-header-news img {
  width: 100%;
  height: auto;
  position: relative;
}

.main-header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  word-wrap: break-word;
  text-align: center;
  height: 30vh;
}
.main-header-text h2 {
  padding-bottom: 10%;
  font-family: "Abel", sans-serif;
}

.header-separator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header-separator img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1024px) {
  .dropdown-content {
    display: flex;
    position: relative;
    box-shadow: none;
    background-color: white;
  }
  .dropdown-content a:hover {
    border-bottom: 2px solid black;
  }
  .dropdown-image {
    display: none;
  }
  .main-header-news {
    height: 65vh;
  }
  .main-header-news img {
    width: 40rem;
    height: auto;
  }
  .main-header-text {
    padding-left: 30%;
    padding-right: 30%;
  }
  .main-header-text h2 {
    font-family: "NewYorkExtraLarge";
    padding-bottom: 20px;
  }
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.all-blog-art {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 1;
}

.block-img-blog {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.block-img-blog .image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: calc(100% - 10px);
}
@media (max-width: 768px) {
  .block-img-blog .image-container {
    width: 100%;
  }
}
.block-img-blog .image-container .image-blocks {
  height: 194px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.block-img-blog .image-container .image-blocks__1 {
  background-image: url("./photo/blog-photo/all-articles1.png");
}
.block-img-blog .image-container .image-blocks__2 {
  background-image: url("./photo/blog-photo/all-articles4.png");
}
.block-img-blog .image-container .image-blocks__3 {
  background-image: url("./photo/blog-photo/all-articles6.png");
}
.block-img-blog .image-container .image-blocks__4 {
  background-image: url("./photo/blog-photo/all-articles3.png");
}
.block-img-blog .image-container .image-blocks__5 {
  background-image: url("./photo/blog-photo/all-articles7.png");
}
.block-img-blog .image-container .image-blocks__6 {
  background-image: url("./photo/blog-photo/all-articles8.png");
}
.block-img-blog .image-container .image-blocks__7 {
  background-image: url("./photo/blog-photo/all-articles2.png");
}
.block-img-blog .image-container .image-blocks__8 {
  background-image: url("./photo/blog-photo/all-articles5.png");
}
.block-img-blog .image-container .image-blocks__9 {
  background-image: url("./photo/blog-photo/all-articles12.png");
}
.block-img-blog .image-container .image-blocks__10 {
  background-image: url("./photo/blog-photo/all-articles10.png");
}
.block-img-blog .image-container .image-blocks__11 {
  background-image: url("./photo/blog-photo/all-articles9.png");
}
.block-img-blog .image-container .image-blocks__12 {
  background-image: url("./photo/blog-photo/all-articles11.png");
}
.block-img-blog .image-container .image-block-txt {
  font-size: 12px;
  text-align: center;
  padding: 10px;
  width: 100%;
}

@media (max-width: 1023px) {
  .block-img-blog .image-container {
    width: 100%;
  }
  .block-img-blog .image-block-txt {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .block-img-blog {
    width: 640px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}/*# sourceMappingURL=style-start-page.css.map */